/* ==========================
   Font
   ========================== */

@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

.iceland-regular {
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
}

/* ==========================
   Base Styles (and Bootstrap overrides)
   ========================== */

:root {
  --bold-blue: #69d2e7;
  --pale-blue: #a7dbd8;
  --turquoise: rgb(29, 234, 166);
}

body {
  background-color: aliceblue;
}

.border {
  border: 3px solid black !important;
}

.border-top {
  border-top: 3px solid black !important;
}

.border-bottom {
  border-bottom: 3px solid black !important;
}

.border-light {
  border: 1px solid black !important;
}

/* ==========================
   Header & Nav
   ========================== */

.page-title {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.nav-item {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.nav-item:hover {
  background-color: var(--bold-blue);
  border: 1px solid black;
}

/* ==========================
   Containers
   ========================== */

.tag-container {
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* ==========================
   Buttons
   ========================== */

.btn {
  border: 1px solid #333;
  padding: 12px 24px;
  border-radius: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--bold-blue);
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px -1px; /* Stronger shadow effect */
  transform: scale(1.05);
}

.btn:active {
  background-color: #222;
  border-color: #222;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.3); /* Inset shadow when clicked */
  transform: scale(0.98);
}

.btn-primary {
  background-color: var(--bold-blue);
}

.badge.bg-success {
  background-color: var(--turquoise) !important;
}

.btn-large {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--bold-blue);
  color: white;
  font-size: 3rem;
  padding: 1rem 1rem 1.5rem 1rem;
  border: none;
}

.btn-small {
  width: 2.5rem;
  height: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--pale-blue);
  color: white;
  font-size: 2rem;
  padding: 0.9rem 0.8rem 1.1rem 0.8rem;
  border: none;
}

/* ==========================
   Media
   ========================== */

@media (max-width: 480px) {
  #task-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }

  .card {
    font-size: 0.8rem;
    width: 100% !important;
    font-size: 1rem;
    padding: 15px;
  }

  .col-4 {
    width: 90% !important;
    margin-bottom: 20px;
  }
}
