{% extends "base.jinja" %} {% block title %}Tasks - Housework Tracker{% endblock
    %} {% block content %}
    <h1>Tasks</h1>
    <div class="container">
        <div class="row">
          <div id="LOW" class="col-3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Low Priority</h2>
            {% for task in tasks if task.priority == 'LOW' %}
                {% include 'components/task_card.jinja' %}
            {% endfor %}
          </div>
      
          <div id="MEDIUM"  class="col-3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Medium Priority</h2>
            {% for task in tasks if task.priority == 'MEDIUM' %}
                {% include 'components/task_card.jinja' %}
            {% endfor %}
          </div>
      
          <div id="HIGH"  class="col-3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>High Priority</h2>
            {% for task in tasks if task.priority == 'HIGH' %}
                {% include 'components/task_card.jinja' %}
            {% endfor %}
          </div>
        </div>
        <div id="NONE" class="col-3">
            <h2>Missing Priority</h2>
            {% for task in tasks if not task.priority %}
                {% include 'components/task_card.jinja' %}
            {% endfor %}
          </div>
      </div>
      {% block scripts %}
      <script src="{{ url_for('static', path='js/drag-drop.js') }}" />
      {% endblock %}
    {% endblock %}
    