{% extends "base.jinja" %} {% block title %}Tasks - Housework Tracker{% endblock
%} {% block content %}
<h1>Users</h1>
<ul>
  <div class="row g-3">
  {% for user in users %}
    <div class="col-md-4">
    {% include 'components/user_card.jinja' %}
    </div>
  {% endfor %}
  </div>
</ul>
{% endblock %}
