<div class="card mb-3" draggable=true>
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text"><strong>Last Completed:</strong> {{ task.last_completed }}</p>
      <p class="card-text"><strong>Next Due:</strong> {{ task.next_due }}</p>
      <p class="card-text"><strong>Repeat Interval:</strong> {{ task.repeat_interval }} days</p>
      <p class="card-text"><strong>Assigned to:</strong> {{ task.user.username }}</p>
      <h6>Tags:</h6>
      <ul>
        {% for tag in task.tags %}
          <li>{{ tag.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>