{% extends "base.html" %} {% block title %}Tasks - Housework Tracker{% endblock
%} {% block content %}
<div class="mb-4 d-flex justify-content-between align-items-center">
  <h1>Tasks</h1>
  <button
    class="btn btn-large"
    onclick="window.location.href='{{ url_for('create_task_form') }}'"
  >
    +
  </button>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="light-container border-light p-5">
      <h3>No Priority</h3>

      {% for task in tasks if not task.priority %}
      <button
        class="btn mx-2"
        onclick="window.location.href='{{ url_for('get_task', task_id=task.id) }}'"
      >
        {{ task.title }}
      </button>

      {% endfor %}
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-evenly">
    <div
      id="HIGH"
      class="col-12 col-md-3"
      ondrop="drop(event)"
      ondragover="allowDrop(event)"
    >
      <h2 class="mb-4">High Priority</h2>
      {% for task in tasks if task.priority == 'HIGH' %} {% include
      'tasks/task_card.html' %} {% endfor %}
    </div>

    <div
      id="MEDIUM"
      class="col-12 col-md-3"
      ondrop="drop(event)"
      ondragover="allowDrop(event)"
    >
      <h2 class="mb-4">Medium Priority</h2>
      {% for task in tasks if task.priority == 'MEDIUM' %} {% include
      'tasks/task_card.html' %} {% endfor %}
    </div>

    <div
      id="LOW"
      class="col-12 col-md-3"
      ondrop="drop(event)"
      ondragover="allowDrop(event)"
    >
      <h2 class="mb-4">Low Priority</h2>
      {% for task in tasks if task.priority == 'LOW' %} {% include
      'tasks/task_card.html' %} {% endfor %}
    </div>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', path='js/drag-drop.js') }}" />
{% endblock %} {% endblock %}
