{% extends "base.html" %} {% block title %}Task - Housework Tracker{% endblock
%} {% block content %}
<div class="container mt-4">
  <h1 class="mb-3">{{ task.title }}</h1>

  <div class="card p-4">
    <p><strong>Priority:</strong> {{ task.priority or "LOW" }}</p>
    <p><strong>Last Completed:</strong> {{ task.last_completed or "Never" }}</p>
    <p><strong>Repeat Interval:</strong> {{ task.repeat_interval }} days</p>
    <p><strong>Next Due:</strong> {{ task.next_due or "Not calculated" }}</p>
    <p><strong>Assigned To:</strong> {{ task.user.name }}</p>

    {% if task.tags %}
    <p>
      <strong>Tags:</strong>
      {% for tag in task.tags %}
      <span class="badge bg-info">{{ tag.name }}</span>
      {% endfor %}
    </p>
    {% else %}
    <p><strong>Tags:</strong> None</p>
    {% endif %}
  </div>

  <div class="d-flex mt-3 justify-content-between">
    <div>
      <button
        class="btn btn-sm btn-secondary"
        onclick="complete_task({{ task.id }})"
      >
        Complete
      </button>
      <a
        href="{{ url_for('edit_task', task_id=task.id) }}"
        class="btn btn-primary"
        >Edit Task</a
      >
    </div>
    <button onclick="delete_item('tasks',{{ task.id }})" class="btn btn-danger">
      Delete Task
    </button>
  </div>
</div>
<div class="mt-5">
  <a href="{{ url_for('get_tasks') }}" class="btn btn-secondary"
    >Back to Tasks</a
  >
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', path='js/complete_task.js') }}"></script>
<script src="{{ url_for('static', path='js/delete.js') }}"></script>
{% endblock %}
