<div
  id="task-{{task.id}}"
  class="card mb-3"
  draggable="true"
  ondragstart="drag(event)"
  data-task-id="{{task.id}}"
>
  <div class="card-body">
    <h5 class="card-title mb-4">
      <button
        class="btn"
        onclick="window.location.href='{{ url_for('get_task', task_id=task.id) }}'"
      >
        {{ task.title }}
      </button>
    </h5>
    <p class="card-text mb-0"><strong>Next Due:</strong> {{ task.next_due }}</p>
    <p class="card-text mb-2">
      <strong>Assigned to:</strong> {{ task.user.username }}
    </p>
    <h6 class="mb-1">Tags:</h6>
    <ul>
      {% for tag in task.tags %}
      <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  // Start dragging a task
  function drag(ev) {
    ev.dataTransfer.setData("taskId", ev.target.getAttribute("data-task-id"));
  }
</script>
